.logos {
  width:23vmin;
  margin:2%;
  display: inline;
}

.bg-secondary {
  background-color: $secondary !important;
}


.bg-tertiary {
  background-color: $tertiary !important;
}

.carousel-title {
  margin-top:5%;
  font-size:10vmin;
  font-family: Arial;
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display:inline-block;
}


.show_me {
  display: none;
}

.photo-team {
  height: 100%;
  margin: 0 auto;
}



.show_him:hover .show_me {
  display: inline-block;
}


.text-paragraphe {
  padding:1%;
  font-weight: lighter;
}


